### Cargar ficheros

In [1]:
import pandas as pd
import numpy as np

In [73]:
freight_df = pd.read_csv('freights_in_ports.csv', sep=',')
ports_df = pd.read_csv('ports_dataframe_input.csv', sep=',')

In [74]:
freight_df.drop('Unnamed: 0', axis=1, inplace=True)
ports_df.drop('Unnamed: 0', axis=1, inplace=True)
ports_df.rename({'coord_0':'latitude','coord_1':'longitude'}, inplace=True)

Para hacer merge (LEFT JOIN) entre ports_df y freights_df, primero hay que modificar los nombres de freight_df['PORT NAME'] y realizar aggregations (sum) para que coincidan con los valores de ports_df['port_name']

Caso ports_df: Eliminar siglas de estados:

In [75]:
ports_list = ports_df['port_name'].tolist()
ports_list = [item.lower() for item in ports_list]
ports_list = [item.split(", ")[0] for item in ports_list]
ports_df['port_name'] = ports_list

In [76]:
ports_df

,port_name,Region/State,Port hub,coord_0,coord_1,Major/Minor ports,id_Port
0,baltimore,MD,"baltimore, md, filadelfia, pa",39.162017,-76.084075,NaN,NaN
1,beaumont,TX,"houston/galveston, tx",29.602093,-94.667153,NaN,NaN
2,bellingham,WA,"seattle/tacoma, wa",47.449355,-122.428779,NaN,NaN
3,bethel,AK,NaN,NaN,NaN,NaN,NaN
4,brevig mission,AK,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
220,wisbech,NaN,Wash & Northern E Anglia,52.962472,-0.003472,Minor port,110.0
221,workington,NaN,Lancs and Cumbria,53.453083,-3.024778,Minor port,111.0
222,rivers hull & humber,England,NaN,NaN,NaN,NaN,117.0
223,tees & hartlepool,England,NaN,NaN,NaN,NaN,118.0
224,grimsby and immingham,NaN,NaN,NaN,NaN,NaN,124.0

In [28]:
freights_list = freight_df['PORT NAME'].unique().tolist()
freights_list.sort()

In [44]:
dict_ports_freights = {'aberdeen':'Aberdeen',
'baltimore':['Baltimore','Baltimore, MD'],
'beaumont':'Beaumont, TX',
'belfast':'Belfast',
'bellingham':'Bellingham, WA',
'bethel':['Bethel','Bethel, AK'],
'boston':['Boston'],
'brevig mission':'Brevig Mission, AK',
'bristol':'Bristol',
'buffalo':['Buffalo, NY','Albany Port District, NY'],
'cairnryan':'Cairnryan',
'calhoun port authority':'Calhoun Port Authority, TX',
'canaveral port district':'Canaveral Port District, FL',
'cardiff':'Cardiff',
'cheboygan':'Cheboygan, MI',
'clallam county port district':'Clallam County Port District, WA',
'cleveland-cuyahoga county':'Cleveland-Cuyahoga County, OH',
'clyde':'Clyde',
'cordova':['Cordova','Cordova, AK'],
'corpus christi':['Corpus Christi, TX','Brownsville Navigation District of Cameron County, TX'],
'cromarty firth':'Cromarty Firth ',
'detour':'DeTour, MI',
'detroit/wayne county port authority':'Detroit/Wayne County Port Authority, MI',
'dillingham':'Dillingham, AK',
'dover':'Dover',
'duluth-superior':'Duluth-Superior, MN and WI',
'dundee':'Dundee',
'fall river port authority':'Fall River Port Authority, MA',
'false pass':['False Pass','False Pass, AK'],
'felixstowe':'Felixstowe',
'fishguard':'Fishguard',
'fleetwood':'Fleetwood ',
'forth':'Forth',
'fowey':'Fowey',
'galveston':['Galveston','Galveston, TX'],
'glensanda':'Glensanda',
'goole':'Goole ',
'great yarmouth':'Great Yarmouth',
'grimsby & immingham':'Grimsby and Immingham',
'guayanilla':'Guayanilla, PR',
'guaynabo':'Guaynabo, PR',
'haines borough':['Haines','Haines Borough, AK'],
'harwich':'Harwich',
'heysham':'Heysham',
'hilo':['Hilo',"Hilo, Hawai'i, HI"],
'holyhead':'Holyhead',
'honolulu':['Honolulu',"Honolulu, O\'ahu, HI",'Kalaeloa Barbers Point, O\'ahu, HI'],
'hoonah':'Hoonah, AK',
'hooper bay':'Hooper Bay, AK',
'hull':'Hull',
'illinois international port district':'Illinois International Port District, IL',
'ipswich':'Ipswich',
'jacksonville':['Jacksonville','Jacksonville, FL','Fernandina Beach'],
'jefferson county port district':'Jefferson County Port District, WA',
'juneau':['Juneau','Juneau, AK'],
'kahului':['Kahului, Maui','Kahului, Maui, HI'],
'kake':['Kake','Kake, AK'],
'kaumalapau':['Kaumalapau Lanai',"Kaumalapau, Lana'i, HI"],
'kaunakakai':"Kaunakakai, Moloka'i, HI",
'kawaihae':['Kawaihae Harbor',"Kawaihae, Hawai'i, HI"],
'ketchikan':['Ketchikan','Ketchikan, AK'],
'kilroot power station jetty':'Kilroot Power Station Jetty',
'kivalina':['Kivalina, AK','King Cove, AK'],
'kodiak':['Kodiak','Kodiak, AK','Chatham Strait'],
'lake charles harbor and terminal district':'Lake Charles Harbor and Terminal District, LA',
'larne':'Larne',
'liverpool':['Liverpool','Chester'],
'loch ryan':'Loch Ryan',
'london':'London',
'londonderry':'Londonderry',
'manatee county port authority':'Manatee County Port Authority, FL',
'manchester':'Manchester',
'medway':'Medway',
'metlakatla':['Metlakatla, AK','Lynn Canal','Naknek River'],
'milford haven':'Milford Haven',
'mobile':['Mobile','Mobile, AL'],
'morehead city':'Morehead City, NC',
'nawiliwili':["Nawiliwili, Kaua'i, HI",'Nawiliwili, Kauai'],
'new bedford port authority':'New Bedford Port Authority, MA',
'newhaven':'Newhaven',
'newport':['Newport','Newport News'],
'nome':['Nome','Nome, AK'],
'ocean highway and port authority':'Ocean Highway and Port Authority, FL',
'old harbor':'Old Harbor, AK',
'orkney':'Orkney',
'other ports':['Other Alaskan Ports/Wtwys','Other Atlantic Ports/Wtwys','Other Columbia Riv (OR,WA,ID)','Other Gulf Coast Ports/Wtwys','Other Hawaiian Islands Ports','Other Pacific Ports/Wtwys'],
'oxnard harbor district':'Oxnard Harbor District, CA',
'panama city port authority':['Panama City','Panama City Port Authority, FL'],
'peterhead':'Peterhead',
'petersburg':['Petersburg','Petersburg, AK'],
'philadelphia regional port authority':['Philadelphia','Philadelphia Regional Port Authority, PA','Wilmington, DE','Camden-Gloucester','Salem River'],
'plaquemines port':'Plaquemines Port, Harbor and Terminal District, LA',
'plymouth':'Plymouth',
'poole':'Poole ',
'port arthur':'Port Arthur, TX',
'port authority of new york and new jersey':['Port Authority of New York and New Jersey, NY & NJ','New York (NY and NJ)'],
'port everglades':['Port Everglades','Port Everglades, FL'],
'port freeport':['Port Freeport, TX','Freeport'],
'port huron':'Port Huron, MI',
'port milwaukee':'Port Milwaukee, WI',
'port moller':'Port Moller, AK',
'port of alaska':['Port of Alaska, AK','Prince of Wales Island'],
'port of boston':['Port of Boston, MA','Boston, MA','Searsport, ME','Fore River','Port of Davisville, RI'],
'port of charleston':['Port of Charleston, SC','Charleston'],
'port of everett':'Port of Everett, WA',
'port of greater baton rouge':'Port of Greater Baton Rouge, LA',
'port of green bay':'Port of Green Bay, WI',
'port of gulfport':'Port of Gulfport, MS',
'port of houston authority of harris county':['Port of Houston Authority of Harris County, TX','Houston'],
'port of long beach':['Port of Long Beach, CA','Long Beach'],
'port of longview':'Port of Longview, WA',
'port of los angeles':['Port of Los Angeles, CA','Los Angeles','Port Hueneme'],
'port of new orleans':['Port of New Orleans, LA','New Orleans','Greater Lafourche Port Commission, LA'],
'port of oakland':['Port of Oakland, CA','Richmond, CA','Oakland','Humboldt','Humboldt Bay Harbor, Recreation and Conservation District, CA'],
'port of palm beach district':['Port of Palm Beach District, FL','Palm Beach'],
'port of pascagoula':'Port of Pascagoula, MS',
'port of pensacola':['Port of Pensacola, FL','Pensacola'],
'port of portland':'Port of Portland, OR',
'port of providence':['Port of Providence, RI','Portland Harbor, ME','Portland, ME'],
'port of savannah':['Port of Savannah, GA','Savannah','Port of Brunswick, GA'],
'port of seattle':['Port of Seattle, WA','Seattle','Columbia River, Vancouver-Dalles','Everett'],
'port of south louisiana':'Port of South Louisiana, LA',
'port of vancouver usa':['Port of Vancouver USA, WA','Vancouver'],
'port of virginia':['Port of Virginia','Port of Virginia, VA'],
'port talbot':'Port Talbot',
'portland':['Portland, OR','Columbia River, Dalles-McNary','Oregon International Port of Coos Bay, OR'],
'portmiami':['PortMiami, FL','Miami'],
'portsmouth':'Portsmouth',
'ramsgate':'Ramsgate ',
'richmond':'Richmond, VA',
'river trent':'River Trent',
'rivers hull and humber':'Rivers Hull and Humber ',
'rochester':'Rochester, NY',
'rogers city':['Rogers City, MI','Great Lakes Ports'],
'san diego unified port district':['San Diego','San Diego Unified Port District, CA'],
'san francisco port commission':'San Francisco Port Commission, CA',
'san juan':['San Juan','San Juan Harbor','San Juan, PR','Mayaguez','Ponce Port Authority, PR','Yabucoa, PR'],
'sault ste marie':'Sault Ste Marie, MI',
'seward':['Seward, AK','Akutan Island','Point Hope, AK'],
'shishmaref':['Shishmaref, AK','Anchorage','Sitka'],
'shoreham':'Shoreham',
'skagway':['Skagway','Skagway, AK','Homer, AK'],
'south jersey port corporation':['South Jersey Port Corporation, NJ','South Jersey Port District'],
'southampton':'Southampton',
'stockton port district':'Stockton Port District, CA',
'stranraer':'Stranraer ',
'sullom voe':'Sullom Voe ',
'sunderland':'Sunderland',
'swansea':'Swansea',
'tacoma':['Tacoma','Tacoma, WA','Port of Anacortes, WA'],
'tampa port authority':['Tampa','Tampa Port Authority, FL','Port Manatee'],
'tees and hartlepool':'Tees and Hartlepool',
'texas city':'Texas City, TX',
'tyne':'Tyne',
'unalaska island':['Unalaska Island, AK','Dutch Harbor','Iliuliuk Harbor'],
'utqiagvik (barrow)':'Utqiagvik (Barrow), AK',
'valdez':'Valdez, AK',
'wainwright':['Wainwright, AK','Kaktovik, AK'],
'warrenpoint':'Warrenpoint',
'whittier':['Whittier','Whittier, AK'],
'wilmington':['Wilmington','Wilmington, NC'],
'wrangell':['Wrangell','Wrangell, AK'],
'yakutat':['Yakutat','Yakutat, AK']
}

Con el diccionario 'dict_ports_freights' ahora se podrÃ¡ realizar las operaciones de sum() y el left join con ports_df

In [47]:
def add_column_from_reversed_dict(df, column_a, original_dict, new_column_name):
    """Adds a new column using a reversed dictionary, handling lists as values and skipping errors.

    Args:
        df: The Pandas DataFrame.
        column_a: The name of the column whose values are *values* in the original dictionary.
        original_dict: The original dictionary (can have lists as values).
        new_column_name: The name of the new column.

    Returns:
        The modified Pandas DataFrame.
    """

    reversed_dict = {}
    for key, value in original_dict.items():
        if isinstance(value, list):  # Handle lists of values
            for v in value:
                reversed_dict[v] = key  # Map each element in the list to the key
        else:
            reversed_dict[value] = key # Handle single values

    df[new_column_name] = df[column_a].apply(lambda x: reversed_dict.get(x)) # Use .get() to handle missing keys
    return df

In [ ]:
# AÃ±adir columna "port_name" en freights_df
freight_df_modified = add_column_from_reversed_dict(freight_df, 'PORT NAME', dict_ports_freights, 'port_name')

In [64]:
# Columns to aggregate
columns_to_aggregate = ['Loaded InBound DOMESTIC', 'Empty InBound DOMESTIC',
                       'Loaded OutBound DOMESTIC', 'Empty OutBound DOMESTIC',
                       'Total DOMESTIC', 'Loaded InBound FOREIGN',
                       'Loaded OutBound  FOREIGN', 'Total OutBound  FOREIGN',
                       'Total Loaded Grand']

# Group by 'Year' and 'port_name' and sum the specified columns
aggregated_df = freight_df_modified.groupby(['Year', 'port_name'])[columns_to_aggregate].sum().reset_index()

In [68]:
aggregated_df

,Year,port_name,Loaded InBound DOMESTIC,Empty InBound DOMESTIC,Loaded OutBound DOMESTIC,Empty OutBound DOMESTIC,Total DOMESTIC,Loaded InBound FOREIGN,Loaded OutBound FOREIGN,Total OutBound FOREIGN,Total Loaded Grand
0,2018,aberdeen,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,4137.724
1,2018,baltimore,6450.0,182.20,4294.5,1235.15,12161.85,478038.96,224407.04,702446.00,713190.500
2,2018,belfast,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,18938.606
3,2018,bethel,3367.6,1020.05,576.5,1312.60,6276.75,0.00,0.00,0.00,3944.100
4,2018,boston,0.0,0.00,0.0,0.00,0.00,144862.17,74472.87,219335.04,220046.330
...,...,...,...,...,...,...,...,...,...,...,...
684,2023,sunderland,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,636.511
685,2023,swansea,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,260.572
686,2023,tees and hartlepool,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,24021.110
687,2023,tyne,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,2599.082
688,2023,warrenpoint,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,3150.727

In [77]:
# Left join (ports_df, freight_df) on ='port_name' y realizar sum () para columnas en freight_df aplicadas en ports_df
# Group and aggregate freight data
merged_df = pd.merge(ports_df, aggregated_df, on='port_name', how='left')

In [79]:
merged_df.to_csv('ports_and_freights.csv',sep=',')
# De momento no incluimos analisis de NAs